* {
    font-family: 'Silkscreen', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F4690;
    color: white;
}

a {
    text-decoration: none;
    color: #F7D354;
    transition: .5s;
}

a:hover {
    color: #b8930c;
}